{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} post-tile">
    <a href="{{url}}" target="_self">
        {{#if image}}
        <div class="post-image" style="background-image: url({{image}})"></div>
        {{/if}}
        <h2 class="post-title">{{title}}</h2>
        <div class="byline">
            <div class="mark mark-left"></div>
            <span class="author">{{author.name}}</span>
            <div class="mark mark-right"></div>
        </div>

        <p class="excerpt">{{excerpt words="1000"}} &raquo;</p>
    </a>
    <div class="gradient-overlay">
        <span class="read-more">read more &raquo;</span>
    </div>
</article>

{{/foreach}}


<!-- {{! Previous/next page links - displayed on every page }}
{{pagination}}
 -->